{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="shortcut icon" href="{% static 'images/logo1-121x124.png' %}" type="image/x-icon">
        <meta name="description" content="">
        <title>Atualizar Etapa</title>
        <link rel="stylesheet" href="{% static 'tether/tether.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" href="{% static 'dropdown/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'socicon/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
        <link rel="preload" as="style" href="{% static 'mobirise/css/mbr-additional.css' %}">
        <link rel="stylesheet" href="{% static 'mobirise/css/mbr-additional.css' %}" type="text/css">
    </head>

    <body>
        <section class="menu cid-s48OLK6784" once="menu" id="menu1-h">

            <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-logo">
                            <img src="{% static 'images/logo1-121x124.png' %}" alt="Clube do Valor" style="height: 3.8rem;">
                        </span>
                        <span class="navbar-caption text-black display-7">Clube do Valor</span>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                            <li class="nav-item text-black display-4">Sua liberdade com educação financeira</li>
                    </div>
                </div>
            </nav>
        
        </section>

        <section class="header1 cid-s48MCQYojq mbr-fullscreen" id="header1-f">
            <div class="container">
                <div class="mbr-section-head">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Atualizar Etapa de Clientes</strong></h3>
                    
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                        <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                            <input type="hidden" name="email" data-form-email="true" value="r8lOSv9FUAGzW/F+B8ljP39pJ6P9PYxoouhWI2HESdV61Ym52Aye0I+thiANN3o04cpirINRHYWVWVPSwSj80CxnqJ84xY9WDIvRh9gtE7IDI7lDdpl/iDtCkwCeUn8=">
                            <div class="row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                                    out the form!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                                    problem!</div>
                            </div>
                            <div class="dragArea row">
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="email">
                                    <input type="text" name="cpf" placeholder="CPF" data-form-field="email" class="form-control" value="" id="email-form6-l">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="name">
                                    <input type="text" name="name" placeholder="Nome" data-form-field="name" class="form-control" value="" id="name-form6-l"readonly>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <select id="inputEstado" class="form-control">
                                      <option selected>Escolher etapa atual</option>
                                      <option>Aguardando assinatura de documentos</option>
                                      <option>Aguardando transferência de recursos</option>
                                      <option>Gestão de patrimônio ativa</option>
                                    </select>
                                  </div>
                                <div class="col-auto mbr-section-btn align-center">
                                    <button type="submit" class="btn btn-primary display-4">Atualizar Etapa</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <script src="{% static 'popper/popper.min.js' %}"></script>
        <script src="{% static 'tether/tether.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'smoothscroll/smooth-scroll.js' %}"></script>
        <script src="{% static 'dropdown/js/nav-dropdown.js' %}"></script>
        <script src="{% static 'dropdown/js/navbar-dropdown.js' %}"></script>
        <script src="{% static 'touchswipe/jquery.touch-swipe.min.js' %}"></script>
        <script src="{% static 'theme/js/script.js' %}"></script>  

    </body>
</html>